In [ ]:
Mydata1 = ["Mango", True, 7, 8, 9]
print(Mydata1)
print(len(Mydata1))
print(type(Mydata1))

['Mango', True, 7, 8, 9]
5
<class 'list'>

In [ ]:
Mydata2 = [1, 5, 7, 9, 3]
print(Mydata2)
print(len(Mydata2))
print(type(Mydata2))

[1, 5, 7, 9, 3]
5
<class 'list'>

In [ ]:
Mydata3 = ("Mango", 700, 1000, "Banana")
print(Mydata3)
print(len(Mydata3))
print(type(Mydata3))

('Mango', 700, 1000, 'Banana')
4
<class 'tuple'>

In [ ]:
Mydata4 = {True, False, False}
print(Mydata4)
print(len(Mydata4))
print(type(Mydata4))

{False, True}
2
<class 'set'>

In [ ]:
#02.Create and print a list containing 4 elements of different data types and check the length of the list.
iplteam = ["rcb","mi","kkr","dd"]
print(iplteam)
print(len(iplteam))
print(type(iplteam))

['rcb', 'mi', 'kkr', 'dd']
4
<class 'list'>

In [ ]:
iplteam = ("rcb","mi","kkr","dd")
print(iplteam)
print(len(iplteam))
print(type(iplteam))

('rcb', 'mi', 'kkr', 'dd')
4
<class 'tuple'>

In [ ]:
iplteam = {"rcb","mi","kkr","dd"}
print(iplteam)
print(len(iplteam))
print(type(iplteam))

{'dd', 'mi', 'rcb', 'kkr'}
4
<class 'set'>

In [ ]:
#Create & print a dictionary conataining the following values:
thisdict = {
"Employee id": "100041",
"Employee name": "Rohan",
"Country": "India"
}
print(thisdict)
print(thisdict["Employee id"])
print(thisdict["Employee name"])
print(thisdict["Country"])

{'Employee id': '100041', 'Employee name': 'Rohan', 'Country': 'India'}
100041
Rohan
India